H0: Marriage age of male in india is 30
Ha: Marriage age of male in india is not 30
30 is hypothesis mean in this research

In [9]:
mrg_age_india = [32,28,25,29,31,32,33,32,35,32,37]
print('skew:',stats.skew(mrg_age_india))
print('kurtosis:',stats.kurtosis(mrg_age_india))

skew: -0.3175592491825672
kurtosis: -0.07956171332882622

# One Sample Test

In [10]:
from scipy import stats
stats.ttest_1samp(mrg_age_india,30)

Ttest_1sampResult(statistic=1.4766784404041187, pvalue=0.17054578472437254)

# Two sample independent TTest

In [11]:
mrg_age_india = [32,28,25,29,31,32,33,32,35,32,35,32,37]
mrg_age_USA = [34,36,39,40,37,35,38,42,38,28,29]

In [12]:
stats.skew(mrg_age_india),stats.skew(mrg_age_USA),stats.kurtosis(mrg_age_india),stats.kurtosis(mrg_age_USA)

(-0.48454584826633434,
 -0.694789631109905,
 0.09243169569856713,
 -0.4541647804436395)

 H0: Marriage age of male in india and USA are same
Ha: Marriage age of male in india are not same

In [13]:
stats.ttest_ind(mrg_age_india,mrg_age_USA)

Ttest_indResult(statistic=-2.7676688371076597, pvalue=0.011229004789432328)

In [15]:
before_rb = [45,53,66,42,57] #response time in centisecs
after_rb = [35,42,35,36,32]

 H0: Response time before and after redd bull are same
Ha: Response time before and after redd bull are not same

In [17]:
stats.ttest_rel(before_rb,after_rb,)

Ttest_relResult(statistic=3.4419395040356395, pvalue=0.026247132919799084)

# ANOVA Test Analaysis of variance

In [20]:
lemon = [36,12,46,10,15,20]
coffee = [33,10,38,12,13,19]
rb = [31,9,39,13,10,15]

H0 : All drinks response time are same
Ha : All drinks response time are not same

In [22]:
stats.f_oneway(lemon,coffee,rb)

F_onewayResult(statistic=0.12208729898260585, pvalue=0.8859415816548135)